name: Post Release

on:
  release:
    types: [published, released]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: rhysd/changelog-from-release/action@v3
        with:
          file: CHANGELOG.md
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_summary_template: 'chore: update changelog for %s'