name: Release on Tag

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
  
  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@main
        with:
          path: release-artifacts
          merge-multiple: true
      
      - name: Create Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ github.ref_name }}
          name: multi-frp ${{ github.ref_name }}
          draft: true # so we can review and add more info before publishing
          files: release-artifacts/*
          token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_unmatched_files: true
          generate_release_notes: true
          